.nav, .minNav{
  width:100%;
  min-height:50px;
  height:auto;
  background:#556677;
}
.navUl{
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}
.navUl li{
  display: block;
  min-width: 140px;
  height:50px;
  line-height:50px;
  font-weight: bold;
  font-size:20px;
  color: #fff;
  text-align: center;
}
.minNav div{
  font-weight: 600;
  height:50px;
  width: 100%;
  line-height:50px;
  font-size:18px;
  color: #fff;
  text-align: center;
}
.navUl li a, .minNav a{
  display: block;
  text-decoration: none;
  color: #fff;
}
.navUl li a:hover, .minNav a:hover{
  background: rgba(240,340,240,0.3);
}

#login:hover, #logup:hover, #logout:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #333;
}
.navBtn{
  float: left;
  width: 30px;
  height: 30px;
  margin:10px;
  cursor: pointer;
}
.navBtn img{
  width: 30px;
  height: 30px;
}
.clearfix{
  display: block;
  clear: both;
}
@media screen and (max-width: 768px) {
  .navUl li{
    float:none;
  }
  .nav{
    display: none;
  }
  .minNav{
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .navUl li a:hover{
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius: 16px 16px 0 0;
    border-radius: 16px 16px 0 0;
    color:#333;
  }
  .navUl li{
    float:left;
  }
  #logContent{
    float:right;
  }
  .clearfix{
    display: none;
  }
  .nav{
    display: block;
  }
  .minNav{
    display: none;
  }
}

