<div class="nav">
  <span></span>
  <ul class="navUl">
    <li *ngFor="let item of items  let i = index"><a [routerLink]="item.path" [ngClass]="{ active: isActive(i) }">{{item.label}}</a></li>
    <li id="logContent"><span (click)="logClick($event)" id="login" [hidden] = "isLogin">登录/</span><span (click)="logClick($event)" id="logup" [hidden] = "isLogin">注册</span><span [hidden]="!isLogin">已登录/</span><span id="logout" [hidden]="!isLogin" (click)="logout()">登出</span></li>
  </ul>
</div>
<div class="minNav">
    <span class="navBtn" (click)="show = !show"><img src="../../assets/images/nav.png" alt="list"></span><section class="clearfix"></section>
    <section *ngIf = "show">
    <div *ngFor="let item of items  let i = index"><a [routerLink]="item.path" [ngClass]="{ active: isActive(i) }">{{item.label}}</a></div>
    <div><span (click)="logClick($event)" id="login" [hidden] = "isLogin">登录/</span><span (click)="logClick($event)" id="logup" [hidden] = "isLogin">注册</span><span [hidden]="!isLogin">已登录/</span><span id="logout" [hidden]="!isLogin" (click)="logout()">登出</span></div>
    </section>
</div>
