<div>
  <app-navbar></app-navbar>
  <div id="content">
    <div id="left">
      <app-person-ino></app-person-ino>
      <app-search></app-search>
      <app-sortfiles></app-sortfiles>
    </div>
    <div id="right">
      <div id="hotPass">
        <p>热门文章</p>
        <app-passages-item></app-passages-item>
      </div>
      <div class="clearfix"></div>
      <div id="newestPass">
        <p>最新文章</p>
        <app-passages-item></app-passages-item>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <app-footer></app-footer>
</div>
