.itemTitle{
  display: inline-block;
  height: 30px;
  width: 120px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
  padding: 0 0 0 8px;
  -webkit-border-radius: 8px 15px 15px 8px;
  -moz-border-radius: 8px 15px 15px 8px;
  border-radius: 8px 15px 15px 8px;
  box-shadow: #eee 3px 3px;
  background: #558eff;
  margin: 20px 0 0 0;
}
.clearfix{
  clear:both;
}
app-passages-item{
  float: left;
}
