.wholePassage{
  height: auto;
  width: 100%;
}
.wholePassage article{
  width: 870px;
  height: auto;
  margin: 20px 20px 20px 10px;
  padding: 0 12px 0 12px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  box-shadow: #cbc6cb 2px 2px;
  border: #d6d7ff solid 1px;
  word-break: break-all;
}
#comment{
  width: 870px;
  height: auto;
  margin: 20px 20px 20px 10px;
  padding: 0 12px 0 12px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: #d6d7ff solid 1px;
  word-break: break-all;
}
.title{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 24px;
}
.statement{
  width: 700px;
  min-height: 20px;
  margin: 0 auto 20px 0;
  background: #a8aabe;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #343135;
  text-align: center;
}
.info{
  float: left;
  display: inline-block;
  min-width: 60px;
  margin: 0 20px 0 0;
  width:auto;
  margin: 10px 0 0 0;
  font-size: 14px;
  height: 26px;
  color: #625c63;
  text-align: center;
}
.info img{
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
.numbers{
  padding: 0 0 0 4px;
  vertical-align: middle;
}
.clearfix{
  clear:both;
}
