<div class="wholePassage">
<div class="wrap">
<article>
  <p class="title">{{item.title}}</p>
  <div class="statement">{{item.statement}}</div>
  <div>{{item.content}}</div>
  <span class="info"><img src="../../assets/images/eyes.png" alt="eyes"><span class="numbers">{{item.numbers}}</span></span><span class="info"><span>Release:</span>{{item.passTime}}</span>
  <div class="clearfix"></div>
</article>
<div id="comment">
<app-comment-release></app-comment-release>
<app-comment-list></app-comment-list>
</div>
</div>
</div>
