#search{
  margin: 20px auto 0 auto;
  width:340px;
  height:auto;
}
#wrapInput{
  margin: 0 auto 0 auto;
  width: auto;
}
#search input{
  padding: 0 48px 0 8px;
  display: inline-block;
  line-height: 30px;
  font-size: 16px;
  height:30px;
  width:256px;
  outline: none;
  border: 2px solid #009988;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  vertical-align:middle;
}
#search button{
  margin: 0 0 0 -40px;
  height:30px;
  width: 30px;
  display: inline-block;
  border:none;
  outline:none;
  background:url('../../assets/images/search.png') no-repeat;
  vertical-align:middle;
}
#search button:hover{
  cursor: pointer;
  background: url('../../assets/images/searchHover.png') no-repeat;
}
