#sortContainer dl{
  list-style: none;
}
#sortContainer dt{
  font-size: 16px;
  font-weight: 600;

}
#sortContainer dd{
  font-size: 14px;
  padding: 8px 0 0 0;
}
@media screen and (max-width: 768px){
  #sortContainer dt{
    margin: 0 0 0 20px;
  }
}
